.inputs::-webkit-inner-spin-button,
.inputs::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  display: none;
}
.inputs {
  padding-right: 15px;
  &:focus {
    border: none;
    outline: none;
  }
}
.cols::after {
  background: #f0f5fd;
  position: absolute;
  content: "-";
  text-align: center;
  vertical-align: middle;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  left: 48.7%;
}
